@import 'tailwindcss';
@import 'react-tooltip/dist/react-tooltip.css';

* {
	font-family: Roboto, sans-serif;
	user-select: none;
}

html,
body {
	/* background-color: #18161c; */
	scroll-behavior: smooth;
}

button:focus,
svg:focus {
	outline: none;
	cursor: pointer;
}
